img {
  border-radius: 9px;
}

img:before {
  display: block;
  height: 738px;
  width: 1260px;
  background: #eee;
}
.virtualPlaceholder {
  display: block;
  height: 738px;
  width: 1260px;
  background: #eee;
}
